QLabel
{
    border: 1px solid #cccccc;
    font-size: 48px;
}

QPushButton
{
    border: 1px solid #cccccc;
    background-color: #fff;
}

QPushButton:hover
{
    background-color: #e9e9e9;
}

QPushButton:hover:pressed
{
    border: 1px solid #cccccc;
    background-color: #c9c9c9;
}